@import '../abstract/variaveis';

.img-footer {
    text-align: center;
    padding-top: 40px;
}

.curiosidades {
    padding: 1rem;
    text-align: center;
    margin: 5px;
    
    h3 {
        color: $cor-primaria;
        font-size: $tamanho-do-texto/2.5;
        padding: 5px;
    }
    h4 {
        color: $cor-secundaria;
        font-size: $tamanho-do-texto/3;
        padding: 5px;
    }
    p {
        margin-top: 5px;
        color: $cor-primaria;
        padding: 5px;
    }
}